<h1>{{ categoryName }}</h1>
<div class="grid">
    <div class="md:col-6 col-12" *ngFor="let ring of rings">
        <div class="table-div">
            <p>{{ ring.name }}</p>
            <table mat-table [dataSource]="getTechnologies(ring.ringId)" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let tech">{{ tech.name }}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let tech">{{ tech.description }}</td>
                </ng-container>
                <ng-container matColumnDef="explanation">
                    <th mat-header-cell *matHeaderCellDef>Explanation</th>
                    <td mat-cell *matCellDef="let tech">{{ tech.explanation }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </div>
</div>
