<h2 *ngIf="addMode">Add radar item</h2>
<h2 *ngIf="!addMode">Edit radar item</h2>
<div class="grid">
    <div class="col-12">
            <div class="col-12">
                <mat-form-field appearance="outline" class="fill">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="radarItem.name" name="name" required>
                    <mat-error *ngIf="radarItem.name == ''">Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput [(ngModel)]="radarItem.description" name="description" required></textarea>
                    <mat-error *ngIf="radarItem.description== ''">Description is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="fill">
                    <mat-label>Explanation</mat-label>
                    <textarea matInput [(ngModel)]="radarItem.explanation" name="explanation"></textarea>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="fill">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="radarItem.categoryId" name="category">
                        <mat-option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="radarItem.categoryId == 0">Category is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="fill">
                    <mat-label>Ring</mat-label>
                    <mat-select [(ngModel)]="radarItem.ringId" name="ring">
                        <mat-option *ngFor="let ring of rings" [value]="ring.ringId">{{ ring.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 button-row">
                <button mat-raised-button color="primary" (click)="saveAndPublish()">Save & Publish</button>
                <button mat-stroked-button color="primary" (click)="save()">Save</button>
                <button mat-stroked-button color="warn" (click)="exit()">Exit</button>
            </div>
    </div>
</div>
