<div class="grid main">
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigateToPage('')">
              Home
            </button>
            <button mat-menu-item (click)="navigateToPage('category/Techniques')">
              Techniques
            </button>
            <button mat-menu-item (click)="navigateToPage('category/Platforms')">
              Platforms
            </button>
            <button mat-menu-item (click)="navigateToPage('category/Languages & Frameworks')">
              Languages & Frameworks
            </button>
            <button mat-menu-item (click)="navigateToPage('category/Tools')">
              Tools
            </button>
            <button mat-menu-item (click)="navigateToPage('admin')">
              Admin
            </button>
          </mat-menu>
          <span>Tech-Radar</span>
          <span class="toolbar-spacer"></span>
          <button mat-button class="login-button" (click)="openAdminPage()">
            <mat-icon>login</mat-icon>
            Admin Login
          </button>
      </mat-toolbar>
    <div class="col-1 lg:col-2"></div>
    <div class="col-10 lg:col-8">
        <router-outlet></router-outlet>
    </div>
    <div class="col-1 lg:col-2"></div>
</div>
