<h2>Technologies</h2>
<div class="grid">
    <mat-card class="md:col-3 col-12" *ngFor="let tech of technologies">
        <mat-card-title>{{ tech.name }}</mat-card-title>
        <mat-card-subtitle>{{ tech.description }}</mat-card-subtitle>
        <mat-card-content>
            {{ tech.explanation }}
            <p>Ring: {{ tech.ringId }}</p>
            <p>Category: {{ tech.categoryId }}</p>
            <p *ngIf="!tech.isPublished"><mat-icon color="warn">warning</mat-icon>Technology is not published</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openEditPage(tech)">Edit</button>
        </mat-card-actions>
    </mat-card>
    <button mat-fab class="add-button" color="primary" (click)="openAddPage()" aria-label="Add a Technology">
        <mat-icon>add</mat-icon>
    </button>
</div>

