<div>
    <div class="circle-top-left" (click)="openCategory('Technologies')">
        <span>Techniques</span>
    </div>
    <div class="circle-top-right" (click)="openCategory('Platforms')">
        <span>Platforms</span>
    </div>
    <br>
    <div class="circle-bottom-left" (click)="openCategory('Languages & Frameworks')">
        <span>Languages & Frameworks</span>
    </div>
    <div class="circle-bottom-right" (click)="openCategory('Tools')">
        <span>Tools</span>
    </div>
</div>
